<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%= title %></title>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/application.css">	
</head>
<body class="main-wrap hold-transition skin-green sidebar-mini">
	
	<% include ./../partials/main/header %>

	<main class="content-wrapper">
		<%- body %>
	</main>	
	
	<% include ./../partials/main/footer %>

	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/js/theme.js"></script>	
	<script src="/js/app.js"></script>	
</body>
</html>