<header class="main-header">
	<a href="/" class="logo">
		<span>Adm</span>
	</a>

	<nav class="navbar navbar-static-top" role="navigation">
		<a href="/" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Navigation</span>
		</a>
	</nav>
</header>

<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu">
			<li  class="header">MENU</li>
			<li>
				<a href="">
					<i class="fa fa-dashboard"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/category">
					<i class="fa fa-bars"></i>
					<span>Categories</span>
				</a>
			</li>
			<li>
				<a href="/product">
					<i class="fa fa-bars"></i>
					<span>Products</span>
				</a>
			</li>
			<li>
				<a href="/user">
					<i class="fa fa-bars"></i>
					<span>Users</span>
				</a>
			</li>
			<li>
				<a href="/auth/logout">
					<i class="fa fa-bars"></i>
					<span>Logout</span>
				</a>
			</li>
		</ul>
	</section>
</aside>