html {
	height: 100%;
	min-height: 100%;
	font-family: $font-default;
}

body {
	height: 100%;
	min-height: 100%;
	background: $body-bg;
	font-family: $font-default;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-default;	
}

.btn-red-default {
	background-color: $red-default;
	color: $white-default;
	&:hover, &:active {
		background-color: $red-dark-default;
		color: $white-default;
		transition: .3s all;
	}
}

.btn-red-dark-default {
	background-color: $red-dark-default;
	color: $white-default;
	&:hover, &:active {
		background-color: $red-default;
		color: $white-default;
		transition: .3s all;
	}
}

.form-control {
	&:focus, &:active, &:hover {
		box-shadow: none;
		border-color: $font-color-default;
	}
}


.upper {
	text-transform: uppercase !important;
}

.block {
	display: block;
}

.title {
	font-size: 1.5em;
}

.subtitle {
	padding: 0 0 1em 0;
	display: block;
}

.bold {
	font-weight: bold;
}
